
# IDE
# Node
# OS
# Python
*$py.class
*.iml
*.py[cod]
.DS_Store
.env
.env*.local
.idea/
.next/
.vscode/
Thumbs.db
__pycache__/
build/
env/
frontend/.env.local.example
node_modules/
out/
thepilotby santosh
venv/
